.projects{
    height: 100vh;
    background-color: #f5f5f5;
}

.projects h1{
    padding-top: 100px;
    color: #18121E;
}

.project_carousel img{
    width: 100%;
}

@media(max-width: 767px){
    .projects{
        height: 165vh;
    }
}