.Navbar {
    width: 100%;
    position: fixed;
    list-style: none;
    background-color: #333;
    height: 60px;
    text-align: left;
    transition: height 0.3s;
}

.Navbar li {
    display: inline-block;
    margin: 15px 3%;
    margin-right: 0;
}

.Navbar li a:link,
.Navbar li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    transition-property: border-top, border-bottom, color;
}

.Navbar li a:hover,
.Navbar li a:active {
    border-top: 2px solid #e67e22;
    border-bottom: 2px solid #e67e22;
    color: #e67e22;
}

.toggle svg{
    color: #FFF;
    height: 25px;
    width: 25px;
    margin-top: 18px;
    margin-right: 30px;
    float: right;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.toggle svg:hover,
.toggle svg:active{
    color: #e67e22;
}

@media (max-width: 767px) {
    .Navbar .toggle_show{
        visibility: visible;
        transition: visibility 0.3s;
        transition-delay: 0.3s;
    }
    
    .Navbar{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .Navbar li{
        width: 100%;
        background-color: #333;
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
        visibility: hidden;
    }

    .toggle svg{
        display: block;
    }

    .toggle_height{
        height: 230px;
    }
}

@media (min-width: 768px) {
    .toggle svg{
        visibility: hidden;
    }
}